<section class="parallax one" data-parallax-image="/public/images/parallax/parallax1.jpg">
	<!-- optionally hardcode the element--- <img class="parallax-element" src="/public/images/parallax/parallax1.jpg" />-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- HTML CONTENT -->
            </div>
        </div>
    </div>
</section>
