/* 
    Created on : Jul 21, 2015, 10:57:31 AM
    Author     : Michael Dahlke
*/

/************** Parallax *****************/
.parallax {
	position: relative;
	overflow: hidden;
}
.parallax .parallax-element {
	position: absolute;
	z-index: 0;
	transform: translate3d(0,0,0);
}
.parallax .row {
	padding: 10% 0;
}